
.testimonial-carousel .carousel-control {
    display: none;
}
.testimonial-carousel .carousel-indicators {
    bottom: 5px;
}
.carousel-control {
    background: rgba(0, 0, 0, 0) !important;
    font-size: 3.5em;
}
.drip-description ol, .drip-description ul {
    padding-left: 0px !important;
}
.drip-tab #drip-form-13370 .form-controls input[type=submit], .drip-lightbox #drip-form-5334 .form-controls input[type=submit] {
    background-color: #84bb2a !important;
    padding: 0.5em 1em !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    display: block;
    margin: 0 auto;
}
